.Elimination {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
}

.Elimination div {
  height: var(--button-height);
  line-height: var(--button-height);
}

.round {
  background-color: var(--highlight);
  grid-column: span 6;
}

.Elimination label.label {
  background-color: var(--highlight);
}
