.Header {
  background-color: var(--light-text);

  display: block;
  font-size: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  text-align: center;
  width: 100%;
}

a.Header:link,
a.Header:visited,
a.Header:hover,
a.Header:active {
  color: var(--background);
}
