.AddPerson,
.AddPerson input {
  font-size: 20px;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 32px;
  margin-bottom: 24px;
}

.formRow {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 12px;
  margin-bottom: 8px;
}

.buttonGroup {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 8px;
}

.AddPerson input[type=button]:disabled {
  background-color: var(--green);
  color: var(--background);
}

.AddPerson input[type=submit] {
  grid-column-start: 2;
}

.AddPerson input[type=submit]:not(:disabled) {
  background-color: var(--blue);
  color: var(--background);
}
