.Attendance form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 8px;
}

.Attendance form div {
  grid-column: span 2;
}

.Attendance input {
  display: block;
  margin-bottom: 8px;
  width: 100%;
}

.Attendance label {
  background-color: var(--highlight);
  display: block;
  margin-bottom: 8px;
  text-align: center;
  width: 100%;
}

.Attendance input[type="button"].came {
  background-color: var(--highlight);
  transition: 0.3s;
}

.Attendance input[type="reset"],
.Attendance input[type="submit"] {
  grid-column: span 3;
}

.Attendance input[type="reset"]:not(:disabled) {
  background-color: var(--highlight);
}

.Attendance input[type="submit"] {
  background-color: var(--blue);
  color: var(--background);
}
