.Attendance form {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 8px;
}

.Attendance input {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  width: 100%;
}

.Attendance input[type="button"].came {
  background-color: var(--green);
  color: var(--background);
}

.Attendance input[type="reset"],
.Attendance input[type="submit"] {
  grid-column: 1 / 4;
}

.Attendance input[type="reset"]:not(:disabled) {
  background-color: var(--red);
  color: var(--background);
}

.Attendance input[type="submit"] {
  background-color: var(--blue);
  color: var(--background);
}
