.GameList {
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
}

.list {
  display: grid;
  font-size: 20px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: 3fr repeat(4, 1fr) 3fr 40px;
  grid-template-rows: 40px;
  line-height: 40px;
  text-align: center;
}

.list div {
  height: 40px;
}

.winner {
  background-color: var(--gray6);
}

.divider {
  display: none;
}

@media (max-width: 600px) {
  .GameList {
    grid-template-columns: repeat(1, 1fr);
  }

  .divider {
    border: 0;
    border-top: 1px solid var(--gray4);
    display: block;
    margin: 8px 0px;
  }
}
