.GameGrid {
  display: grid;
  font-size: 20px;
  grid-row-gap: 8px;
  line-height: 40px;
  margin-bottom: 8px;
  text-align: center;
}

.GameGrid div {
  height: 40px;
}

.legend {
  color: var(--gray1);
}

.black {
  background-color: var(--text);
}

.win {
  background-color: var(--gray6);
}

.name {
  background-color: var(--background);
}
