.byPerson,
.byDate {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: var(--button-height);
  line-height: var(--button-height);
  text-align: center;
}

.result {
  text-align: right;
}

@media (max-width: 600px) {
  .byPerson,
  .byDate {
    grid-template-columns: 1fr 1fr;
  }
}
