.PersonForm,
.PersonForm input {
  font-size: 20px;
}

.PersonForm form {
  display: grid;
  grid-column-gap: 12px;
  grid-template-columns: 1fr 3fr;
  grid-row-gap: 8px;
}

.buttonGroup {
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: repeat(3, auto);
}

.PersonForm input[type=button]:disabled {
  background-color: var(--green);
  color: var(--background);
}

.PersonForm input[type=submit] {
  grid-column-start: 2;
}

.PersonForm input[type=submit]:not(:disabled) {
  background-color: var(--blue);
  color: var(--background);
}
