.ViewIndividualGame {
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-row-gap: 8px;
  line-height: 40px;
  text-align: center;
}

.header {
  grid-column: span 4;
}

.date {
  display: inline;
  background-color: var(--background);
}

.person {
  background-color: var(--background);
}
